* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
           background-color:rgb(120, 75, 156);
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}